.shoppingCart-container {
    min-height: 90vh;
}

.btn {
    transition: all 0.3s ease;
}

.btn:active {
    scale: 0.95;
}

#delete-shopping-cart {
    margin-bottom: 10px;
    width: 10rem;
}

#checkout-btn {
    box-shadow: 0 2px 8px rgba(0, 128, 0, 0.3);
    width: 12rem;
}

#checkout-btn:hover {
    background-color: #157347;
}

.table img {
    border-radius: 5px;
}

#empty-cart-message {
    padding: 3rem 0;
}