.navbar {
  background: black;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-item {
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;
  padding: 5px;
}

.nav-item:hover {
  background-color: #333;
}

.nav-item:active {
  background-color: #555;
  color: white;
  scale: 0.95;
}

.navbar-logo {
  align-items: center;
  width: 120px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
